.thumbnail {
  width: 100px;
  height: 100px;
  position: relative;
}

.thumbnail::before {
  content: "";
}

.thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
